In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

pd.options.mode.chained_assignment = None

In [2]:
ibm_df = pd.read_csv("data/3Stocks/IBM_1min.csv")
jnj_df = pd.read_csv("data/3Stocks/JNJ_1min.csv")
wmt_df = pd.read_csv("data/3Stocks/WMT_1min.csv")

In [3]:
print(ibm_df.shape, jnj_df.shape, wmt_df.shape)

(958596, 8) (958596, 8) (958596, 8)

In [25]:
ibm_small_df = ibm_df.iloc[:50000]

In [10]:
5*60+25+56

381

In [11]:
380+381+381+381

1523

2010-01-04: 9:36:00 - 15:55:00
2010-01-05: 9:35:00 - 15:55:00
2010-01-06: 9:35:00 - 15:55:00

In [12]:
ibm_small_df.iloc[1523]

Date Time    2010-01-07 15:55:00
Open                     83.8285
High                     83.8673
Low                      83.8272
Close                    83.8414
Volume                   43250.0
Date                  2010-01-07
Time                    15:55:00
Name: 1523, dtype: object

In [26]:
ibm_small_df['Date Time'] = pd.to_datetime(ibm_small_df['Date Time'])

In [27]:
ibm_small_df['Log_Returns'] = np.log(ibm_small_df['Close'] / ibm_small_df['Close'].shift(1))

In [28]:
ibm_small_df.dropna(inplace=True)

In [29]:
ibm_small_df

,Date Time,Open,High,Low,Close,Volume,Date,Time,Log_Returns
1,2010-01-04 09:36:00,85.2271,85.4732,85.2142,85.4343,65921.0,2010-01-04,09:36:00,0.002503
2,2010-01-04 09:37:00,85.4214,85.4732,85.3048,85.4680,60876.0,2010-01-04,09:37:00,0.000394
3,2010-01-04 09:38:00,85.4732,85.5250,85.4279,85.5056,36812.0,2010-01-04,09:38:00,0.000440
4,2010-01-04 09:39:00,85.4946,85.5056,85.4214,85.4538,29232.0,2010-01-04,09:39:00,-0.000606
5,2010-01-04 09:40:00,85.4732,85.5250,85.4214,85.4214,33407.0,2010-01-04,09:40:00,-0.000379
...,...,...,...,...,...,...,...,...,...
49995,2010-07-13 10:59:00,84.7560,84.7756,84.7233,84.7429,10774.0,2010-07-13,10:59:00,-0.000155
49996,2010-07-13 11:00:00,84.7429,84.7821,84.7429,84.7756,9676.0,2010-07-13,11:00:00,0.000386
49997,2010-07-13 11:01:00,84.7821,84.8083,84.7821,84.8017,36023.0,2010-07-13,11:01:00,0.000308
49998,2010-07-13 11:02:00,84.8037,84.8083,84.7756,84.7952,23608.0,2010-07-13,11:02:00,-0.000077
49999,2010-07-13 11:03:00,84.7887,84.7887,84.7495,84.7625,8337.0,2010-07-13,11:03:00,-0.000386

In [31]:
daily_log_returns = ibm_small_df.resample('D', on='Date Time').sum()["Log_Returns"]

In [50]:
mm_scaler = MinMaxScaler(feature_range=(-255,255))

In [60]:
np.reshape(np.array([-2,0,1,2]), (-1,1))

array([[-2],
       [ 0],
       [ 1],
       [ 2]])

In [61]:
mm_scaler.fit_transform(np.reshape(np.array([-2,0,1,2]), (-1,1)))

array([[-255. ],
       [   0. ],
       [ 127.5],
       [ 255. ]])

In [13]:
ibm_small_df["Realized_Volatility"] = ibm_small_df["Log_Returns"].rolling(window=252).std()

In [15]:
realized_volatility = np.sqrt(sum_squared_log_returns)

In [17]:
realized_volatility

0.11951556156374013